body {
    background: #E5E5E5;
}

#logo {
    position: absolute;
    left: 5%;
    top: 5%;
}

#textarea {
    position: absolute;
    width: 580px;
    height: 288px;
    left: 240px;
    top: 110px;


    text-transform: lowercase;
    display: inline;
    background: #E5E5E5;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border-radius: 30px;
}

#bt_criptografar {

    position: absolute;
    top: 550px;
    left: 260px;

    display: inline;
    padding: 24px;
    text-align: center;
    width: 250px;
    height: 67px;
    color: #D8DFE8;
    background: #0A3871;
    border: none;
    border-radius: 24px;


}

#bt_descriptografar {

    position: absolute;
    top: 550px;
    left: 560px;

    display: inline;
    padding: 24px;
    text-align: center;
    width: 250px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
}

button:hover {
    background-color: #0A3871;
    color: white;
    transform: scale(1.1);
    transition: all 0.5s;
}

#textarea:hover {
    background-color: rgb(249, 249, 250);
    color: #0A3871;
    transform: scale(1.1);
    transition: all 0.5s;
}


.resultado {
    position: absolute;
    top: 37px;
    left: 950px;

    border: none;
    background: white;
    width: 350px;
    height: 600px;
    border-radius: 24px;
}

#textarea2 {
    position: absolute;
    top: 20px;
    left: 22px;

    width: 300px;
    height: 400px;
    display: inline;
    background:white;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
    color: #0A3871;
    border-radius: 30px;
}

#bt_copiar {
    position: absolute;
    top: 508px;
    left: 50px;

    display: inline;
    padding: 24px;
    text-align: center;
    width: 250px;
    height: 67px;
    color: blue;
    background: white;
    border: none;
    border-radius: 24px;
    border: #0A3871 solid 1px;

}

footer {
    text-align: center;
    position: absolute;
    top: 630px;
    right: 1140px;
}

.coyrightp {
    font-size: 13px;
}